<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <br/>
  <br/>
  <br/>
  <div>
    <ion-list>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required="required"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required="required"></ion-input>
      </ion-item>
      <div padding text-center>
        <button *ngIf="email && password" ion-button color="danger" round (click)="submitLogin()">
          Iniciar sesión
        </button>
        <button *ngIf="!email && !password" ion-button color="danger" clear round>Iniciar sesión</button>
      </div>
    </ion-list>
    <br/>
    <div padding text-center>
      <button ion-button color="gray" block clear (click)="redirectToSignup()">Crear nueva cuenta</button>
    </div>
  </div>
</ion-content>
