<ion-header>

    <ion-navbar>
      <ion-title>Crear cuenta</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <br/>
    <br/>
    <br/>
    <div>
      <ion-list>
        <input type="image" src="../../assets/imgs/background-black.png" (click)="configureImage();" *ngIf="photo == ''; else image1" style="width: 100px;" class="container">
        <ng-template #image1>
            <input type="image" src="{{photo}}" (click)="configureImage();" style="width: 100px; height: 100px" class="container">
        </ng-template>
        <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input type="email" [(ngModel)]="user.email" name="email" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="user.password" name="password" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="user.name" name="name" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Nombre de usuario</ion-label>
          <ion-input type="text" [(ngModel)]="user.username" name="username" required="required"></ion-input>
        </ion-item>
      </ion-list>
      <br/>
      <div padding text-center>
        <button ion-button color="gray" block clear (click)="registerUser()">Registrarse</button>
      </div>
  
    </div>
  </ion-content>
  
