<ion-tabs>
    <ion-tab [root]="tab1Root" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabIcon="md-search"></ion-tab>
    <ion-tab [root]="tab3Root" tabIcon="md-add"></ion-tab>
    <ion-tab [root]="tab4Root" tabIcon="md-heart-outline"></ion-tab>
    <ion-tab [root]="tab5Root" tabIcon="md-person"></ion-tab>
  </ion-tabs>
  