
<ion-header>

  <ion-navbar>
    <ion-title>Recetas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list> 
    <ion-searchbar [(ngModel)]="searchItem" (ionInput)="searchRecipes()"></ion-searchbar>
    <div *ngIf = "user.length > 0; else message">
      <ion-item-sliding *ngFor="let recipe of recipes" >
        <ion-item>
          <ion-thumbnail item-left>
            <img src="{{recipe.images[0]}}" />
          </ion-thumbnail>
          <h2 class="recipe-name" (click)="onSelect(recipe)">{{recipe.title}}</h2>
          <p class="recipe-creator">Recipe by:{{recipe.creator}}</p> 
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="preferredRecipes(recipe)">
            <ion-icon name="md-heart"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </div>
    <ng-template #message>    
      <div>
        <ion-item-sliding *ngFor="let recipe of recipes" >
          <ion-item>
            <ion-thumbnail item-left>
              <img src="{{recipe.images[0]}}" />
            </ion-thumbnail>
            <h2 class="recipe-name" (click)="onSelect(recipe)">{{recipe.title}}</h2>
            <p class="recipe-creator">Recipe by:{{recipe.creator}}</p> 
          </ion-item>
        </ion-item-sliding>
      </div>
    </ng-template>
      
    
    
 </ion-list>

</ion-content>