<ion-header>
  <ion-navbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        Cerrar sesión
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
        <ion-thumbnail item-left>
          <img src="../../assets/imgs/background-black.png" *ngIf="image == ''; else image1" style="width: 100px;" class="container">
        </ion-thumbnail>
        <ng-template #image1>
          <ion-thumbnail item-left>
            <img src="{{user[0].image}}" style="width: 100px; height: 100px" class="container">
          </ion-thumbnail>
        </ng-template>
        <h2>{{user[0].username}}</h2>
        <h3>{{user[0].email}}</h3>
        <button ion-button color="light" (click)="onSelectUser(user)">Editar perfil</button>
    </ion-item>
  </ion-list>
  <ion-list>
      <ion-list-header class="ingredients-header">
          <h1>Mis recetas</h1>
      </ion-list-header>
      <div *ngIf="user[0].recipesUpload">
          <ion-item-sliding *ngFor="let recipe of user[0].recipesUpload" >
            <ion-item>
              <ion-thumbnail item-left>
                <img src="{{recipe.images[0]}}" style="height: 100px; width:100px">
              </ion-thumbnail>
              <h2 class="recipe-name" (click)="onSelect(recipe)">{{recipe.title.substring(0,24)}}</h2>
              <h3 class="recipe-description">{{recipe.description.substring(0,24)}} ...</h3>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="danger" (click)="remove(recipe)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
      </div>
    </ion-list>
</ion-content>
