<ion-header>
  <ion-navbar>
    <ion-title>Detalles de la receta</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <h2 style="margin-left: 16px; margin-right: 10px">{{recipe.title}}</h2>
    <ion-scroll scrollX="true" style="height: 200px">
      <ion-row nowrap class="container">
        <img src="{{image}}"  *ngFor="let image of recipe.images" />
      </ion-row>
    </ion-scroll>
    <h4 style="margin-left: 16px; margin-right: 10px">Descripción</h4>
    <div style="color: black; margin-left: 16px; margin-right: 10px">
        {{recipe.description}}
    </div>
    <h4 style="margin-left: 16px; margin-right: 10px">
        Ingredientes
    </h4>

    <div style="color: black; margin-left: 16px; margin-right: 10px">
        {{recipe.ingredients}}
    </div>
    <h4 style="margin-left: 16px; margin-right: 10px">
        Procedimiento
    </h4>
    <div style="color: black; margin-left: 16px; margin-right: 10px">
        {{recipe.productions}}
    </div>
    <br>
    <br>
    <br>
</ion-content>