page-recipe-detail {
    .recipe-details{
        background-color: #fff;
     } 
     .recipe-ingredients-count, .recipe-time, .recipe-servings{
         text-align: center;
     }
     .recipe-ingredients-count div, .recipe-time div, .recipe-servings div{
         font-size: 2.5rem;
         text-align: center;
         font-weight: bold;      
     }
     
}
