<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let recipe of recipes">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{recipe.imageCreator}}">
        </ion-avatar>
        <h2>{{recipe.title}}</h2>
        <p>Recipe By: {{recipe.creator}} </p>
      </ion-item>
      <img src="{{recipe.images[0]}}" (click)="onSelect(recipe)">
      <ion-card-content (click)="onSelect(recipe)">
        <p>{{recipe.description.substring(0, 120)}} ...</p>
      </ion-card-content>
      <ion-row>
        <ion-col text-right>
          <ion-note style="color: black;">
            {{recipe.date}}
          </ion-note>
        </ion-col>
      </ion-row>   
    </ion-card>
</ion-content>
