page-new-recipe {
    .container img {
        width: 200px;
        height: 200px;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
      }

    #myInput {
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
    }

    .test {
      max-width: 100%; width: 100%;
    }

    .title {
        height: 30px;
        margin: 10px 0px 0px 20px;
        font-size: 12px;
        font-weight: bold;
    }
    .description {
        height: 30px;
        margin: 20px 0px 0px 20px;
        font-size: 12px;
        font-weight: bold;
    }

    .area {
        margin: 0px 20px 0px 20px
    }

    .button-radius {
        margin: 20px;
        border-radius: 15px;
    }
}


