<ion-header>
  <ion-navbar>
    <ion-title>Nueva receta</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <div *ngIf = "user.length > 0; else message">
        <div class="wrapper">
            <button ion-button icon-only (click)="configureImage()" *ngIf="photos.length === 0; else image1">
                <ion-icon name="md-image"></ion-icon>
            </button>
            <button ion-button icon-only (click)="configureImage()" *ngIf="photos.length < 2; else image2">
                <ion-icon name="md-image"></ion-icon>
            </button>
            <button ion-button icon-only (click)="configureImage()" *ngIf="photos.length < 3; else image3">
                <ion-icon name="md-image"></ion-icon>
            </button>
            <button ion-button icon-only (click)="configureImage()" *ngIf="photos.length < 4; else image4">
                <ion-icon name="md-image"></ion-icon>
            </button>
            <button ion-button icon-only (click)="configureImage()" *ngIf="photos.length < 5; else image5">
                <ion-icon name="md-image"></ion-icon>
            </button>
            <ng-template #image1>    
                <div class="container" >
                    <input type="image" src="{{ photos[0] }}" (click)="configureImage(photos[0]);" style="width: 50px; height: 50px;">
                </div> 
            </ng-template>
            <ng-template #image2>    
                <div class="container">
                    <input type="image" src="{{ photos[1] }}" (click)="configureImage(photos[1]);" style="width: 50px; height: 50px;">
                </div> 
            </ng-template>
            <ng-template #image3>    
                <div class="container">
                    <input type="image" src="{{ photos[2] }}" (click)="configureImage(photos[2]);" style="width: 50px; height: 50px;">
                </div> 
            </ng-template>
            <ng-template #image4>    
                <div class="container">
                    <input type="image" src="{{ photos[3] }}" (click)="configureImage(photos[3]);" style="width: 50px; height: 50px;">
                </div> 
            </ng-template>
            <ng-template #image5>    
                <div class="container">
                    <input type="image" src="{{ photos[4] }}" (click)="configureImage(photos[4]);" style="width: 50px; height: 50px;">
                </div> 
            </ng-template>
        
        </div>
        <div *ngIf="photos.length > 0">
        <ion-scroll scrollX="true" style="height: 200px" *ngIf="photos">
            <ion-row nowrap class="container">
                <img src="{{ photo }}" *ngFor="let photo of photos">
            </ion-row>
        </ion-scroll>
        </div>
        <div class="title">
        <ion-label>NOMBRE DE LA RECETA*</ion-label>
        </div>
        <div class="area">
        <ion-textarea rows="2" maxLength="800" class="test" [(ngModel)]="recipe.title"></ion-textarea>
        </div>
        <div class="description">
        <ion-label>DESCRIPCIÓN*</ion-label>
        </div>
        <div class="area">
        <textarea rows="4" maxLength="800" class="test" [(ngModel)]="recipe.description"></textarea>
        </div>
        <div class="description">
        <ion-label>INGREDIENTES*</ion-label>
        </div>
        <div class="area">
        <textarea rows="6" maxLength="800" class="test" [(ngModel)]="recipe.ingredients"></textarea>
        </div>
        <div class="description">
        <ion-label>PREPARACION*</ion-label>
        </div>
        <div class="area">
        <textarea rows="9" maxLength="10000" class="test" [(ngModel)]="recipe.productions"></textarea>
        </div>
        <button ion-button icon-start color="light" class="button-radius" (click)="addRecipe()">
        <ion-icon name="md-add-circle"></ion-icon>
        Agregar receta
        </button>
    </div>
    <ng-template #message>    
        <div style="font-size: 20px; color:red" class="center-screen" >
            Tienes que Iniciar sesión para poder subir recetas
        </div>
    </ng-template>
</ion-content>
