<ion-header>
  <ion-navbar>
    <ion-title>Favoritos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <div *ngIf = "user.length > 0; else message">
        <div *ngIf = "user[0].favourites">
            <div class="wrapper">
              <ion-item-sliding *ngFor="let recipe of user[0].favourites" >
                <ion-item>
                  <ion-thumbnail item-left>
                    <img src="{{recipe.images[0]}}" />
                  </ion-thumbnail>
                  <h2 class="recipe-name" (click)="onSelect(recipe)">{{recipe.title}}</h2>
                  <p class="recipe-creator">Recipe by:{{recipe.creator}}</p> 
                </ion-item>
                <ion-item-options side="right">
                  <button ion-button (click)="remove(recipe)">
                    <ion-icon name="trash"></ion-icon>
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </div>
        </div>
    </div>
    <ng-template #message>    
        <div style="font-size: 20px; color:red" class="center-screen" >
            Tienes que Iniciar sesión para poder tener favoritos
        </div>
    </ng-template>
  </ion-list>
</ion-content>
